<section class="flex justify-content-center w-full p-2">
  <form class="w-full" novalidate #form="ngForm" (submit)="addFood(form)">
    <div class="card">
      <div class="field">
        <span class="p-float-label">
          <p-autoComplete [ngModel]="food?.name" #name="ngModel" name="name" class="w-full" [suggestions]="results"
            (completeMethod)="search($event, form)" (onSelect)="onFoodSelect($event, form)">
            <ng-template let-item pTemplate="item">
              <div class="flex">
                <div class="h-3rem w-3rem">
                  <img [src]="item?.photo?.thumb || 'assets/images/food_thumb.webp'" alt="">
                </div>
                <div class="ml-2">
                  <b>{{item.food_name}}</b>
                  <div>{{item.nf_calories || 'N/A'}}</div>
                </div>
              </div>
            </ng-template>
          </p-autoComplete>
          <label for="float-input">Food</label>
        </span>
      </div>

      <div class="field">
        <span class="p-float-label">
          <input id="float-input" [ngModel]="food?.calories" #calories="ngModel" name="calories" type="number"
            pInputText required />
          <label for="float-input">Calories</label>
        </span>
      </div>

      <div class="field">
        <span class="p-float-label">
          <p-calendar id="float-input" [ngModel]="food?.consumedTime" #calories="ngModel" name="consumedTime"
            [required]="true" appendTo="body" [showTime]="true" hourFormat="12" [showSeconds]="false">
          </p-calendar>
          <label for="float-input">When</label>
        </span>
      </div>

      <input type="hidden" [ngModel]="food?.imageUrl" #imageUrl="ngModel" name="imageUrl" value="imageUrl">

      <div class="field flex justify-content-end">
        <button pButton type="button" class="p-button-secondary" (click)="onCancel()">Cancel</button>
        <button pButton type="submit" class="p-button-success ml-3">{{food ? 'Update':'Add'}}</button>
      </div>


    </div>

  </form>
</section>
