<section class="flex justify-content-center flex-column">

<section *ngIf="foods?.length" class="flex justify-content-end p-2">
  <p-button pTooltip="Reached Calorie Limit" [tooltipDisabled]="!isLimitCrossed"
    [styleClass]="isLimitCrossed ? 'p-button-danger' :''" label="Show Summary" icon="pi pi-calendar"
    (onClick)="openSummaryDialog()"></p-button>
</section>
  <div *ngIf="!foods?.length" class="empty text-2xl text-center p-4 border-1 m-4 border-dashed border-round">
    No items to show. Start adding some foods!
  </div>

  <section class="food-list grid grid-nogutter">
    <ct-food *ngFor="let food of foods; trackBy:foodTrackBy" [food]="food" class="xs:col-12 md:col-6 lg:col-3">
    </ct-food>
  </section>
  <section class="flex justify-content-center p-4">
    <p-button label="Add Food" icon="pi pi-plus" (onClick)="openAddDialog()"></p-button>
  </section>
</section>
